PORT=3000
NODE_ENV=production
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
FRONTEND_URL=https://sjh-consult-backend.vercel.app
API_URL=https://sjh-consult-backend-production.up.railway.app
EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=SJH Consult Admin
PAYSTACK_SECRET_KEY=
